body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #39b916;
    color: #ffffff;
    padding: 20px 0;
}
header h1 {
    margin: 0;
}
nav {
    margin: 40px 0;
}
a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
a:hover {
    color: #39b916;
}
.hero {
    background-color: #39b916;
    color: #ffffff;
    padding: 100px 20px;
}
.hero h2 {
    margin: 0;
    font-size: 2.5em;
}
.hero p {
    font-size: 1.2em;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #39b916;
}
.feature {
    width: 30%;
}
.feature h3 {
    font-size: 1.5em;
    color: #ffffff;
}

.feature p {
    color: #ffffff;
    }

    img {
        border-radius: 50px;
      }